<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="dbName" connectionString="data source=.;database=Customers;uid=sa;pwd=1111"/>
  </connectionStrings>
  <appSettings>
    <add key="Dal" value="HomeworkTwo.Dal,HomeworkTwo.Dal.SqlHerper"/>
  </appSettings>
</configuration>